---
import { buttonVariants } from "@/components/ui/button";
import { siteConfig } from "@/config/site";
import MainLayout from "@/layouts/base-layout.astro";
import Footer from "@/components/layout/footer.astro";

import { cn } from "@/lib/utils";
import Icon from "astro-icon";
---

<MainLayout title="Team Lycan" description="Team Lycan is a game-fi project of PulseChain.">
  <section class="space-y-6 pb-12 pt-16 lg:py-28">
    
    <div
      class="container flex max-w-[64rem] flex-col items-center gap-5 text-center"
    ><Footer />


      <h1
        class="font-heading text-4xl font-bold sm:text-5xl md:text-6xl lg:text-7xl !leading-[1.1] text-balance"
      >
        <span></span>
          TEAM LYCAN PRESENTS <span class="font-sans font-bold">... </span> APEX-TIER MOBILE GAME-FI, EXCLUSIVE TO PULSECHAIN<span
            class="font-sans font-bold"></span>
        </span>
      </h1>

      <p
        class="max-w-[42rem] leading-normal text-muted-foreground sm:text-xl sm:leading-8 text-balance"
      >
Two flagship titles, regular hyper-casual releases, NFTs, innovative crypto duelling DAPP, pretty good memes.
      </p>
 <p
        class="max-w-[42rem] leading-normal text-muted-foreground sm:text-xl sm:leading-8 text-balance"
      >
Coming on a full moon, soon. Take off your shirt and await further instructions.
      </p>
     
  </section>
</MainLayout>  